<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CellMotion\Bancard\Api\Data\CardsInterface" type="CellMotion\Bancard\Model\Cards"/>
    <preference for="CellMotion\Bancard\Api\CardsRepositoryInterface" type="CellMotion\Bancard\Model\CardsRepository"/>
</config>